header {
  background-image: url("gcf-project/photo1.jpg");
  height: fit-content;
  background-size: 43.8rem;
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: antiquewhite;
  text-align: right;
  padding: 4.38rem;
  font-size: larger;
  margin: 1rem;
}
h1 {
  font-family: "Ms Madi", cursive;
  font-size: 700%;
  padding-right: 6.25rem;
}
nav {
  font-family: "Libre Franklin", sans-serif;
}
.boxes {
  display: flex;
  flex-direction: row;
  font-family: "Libre Franklin", sans-serif;
  margin: 1rem;
  padding-bottom: 6.5rem;
  padding-top: 3rem;
  height: 800px;
  font-weight: bold;
}
.boxes li {
  padding: 0.63rem;
}
form {
  font-family: "Libre Franklin", sans-serif;
  width: 50%;
  padding-left: 14rem;
  text-align: center;
}
input[type="text"],
input[type="submit"] {
  background-color: rgb(250, 239, 226);
  font-family: "Libre Franklin", sans-serif;
  border-radius: 0.2rem;
  border: solid, rgb(161, 161, 161);
}
input {
  padding: 0.5rem;
}
.button {
  margin-top: 0.3rem;
  width: 7rem;
}
input[type="text"] {
  border: none;
}
input[type="checkbox"] {
  margin-top: 16px;
  background: antiquewhite;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
footer {
  text-align: center;
  background-color: antiquewhite;
  margin: 1rem;
  padding: 1rem;
  font-family: "Libre Franklin", sans-serif;
}

@media only screen and (max-width: 920px) {
  header {
    background-size: 17rem;
    padding-top: 25%;
  }
  h1 {
    text-align: right;
    padding-left: 10rem;
  }
  .boxes {
    flex-direction: column;
    margin: 0%;
  }
  form {
    width: 100%;
    height: auto;
    padding-left: 0%;
  }
  footer {
    width: 100%;
    height: auto;
    margin: 0.3rem;
  }
  #dots ul {
    width: 100%;
  }
  #dots li {
    width: 100%;
  }
}
@media only screen and (min-width: 760px) {
  header {
    background-size: 42rem;
  }
}
